.about h2 {
    color: #f68d88;
    font-weight: 900;
}
.social-icon {
    line-height: 2;
}
.social-icon span {
    padding-left: 20px;
    font-size: 18px;
    color: #6D757D;
}
.social-icon a span:hover{
  color: #f68d88;
}