.home{
    min-height: 80.9vh;
}

.header-details h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 19px;
    font-family: 'Josefin Sans', sans-serif;
}
.header-details h3 {
    color: #f68d88;
}
.header-details p {
    font-size: 16px;
    line-height: 35px;
    color: #6C6B6B;
    margin-bottom: 15px;
}
.courseIcon{
    font-size: 50px;
}
.card{
    transition: all .4s;
}
